{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
    

    <!-- banner -->
    <div class="profile-banner">
        <p>user profile banner</p>
    </div>

    <div class="profile-avatar-wrapper">
        <img src="{{ user.profile.avatar.url }}" alt="Avatar" class="profile-avatar">
    </div>

    <div class="profile-info">
        <div class="profile-username">{{ user.username }}</div>
        <div class="profile-useremail">{{ user.email }}</div>
    </div>
{% endblock %}