{% extends 'users/base_profile.html' %}
{% load i18n %}

{% block content_staff_admin %}

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'gestion_usuarios' %}active{% endif %}"
               href="{% url 'gestion_usuarios' %}"><i class="bi bi-people-fill me-1"></i>{% trans 'Usuarios' %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'gestion_cartelleres' or request.resolver_match.url_name == 'editar_cartellera' %}active{% endif %}"
               href="{% url 'gestion_cartelleres' %}"><i class="bi bi-images me-1"></i>{% trans 'Carteleras' %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'system_logs' %}active{% endif %}"
               href="{% url 'system_logs' %}"><i class="bi bi-terminal-fill me-1"></i>{% trans 'Logs del Sistema' %}</a>
        </li>
    </ul>

    <div class="tab-content-area mt-3">
        {% block staff_admin_content %}{% endblock %}
    </div>

{% endblock %}