{% extends 'users/settings/user_settings.html' %}
{% load i18n %}

{% block content_staff_admin %}

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'gestion_usuarios' %}active{% endif %}"
               href="{% url 'gestion_usuarios' %}">{% trans 'Gestion Usuarios' %}</a>
        </li>
    </ul>

    <!-- Contenido de la tab activa -->
    <div class="tab-content-area">
        {% block parts_content %}{% endblock %}
    </div>

{% endblock %}