{% extends 'users/settings/user_settings.html' %}
{% load i18n %}

{% block content_user %}

    <!-- Tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'profile' %}active{% endif %}"
               href="{% url 'user_profile' %}">{% trans 'Profile' %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'history' %}active{% endif %}"
               href="{% url 'history' %}">{% trans 'History' %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'subscription' %}active{% endif %}"
               href="{% url 'subscription' %}">{% trans 'Subscriptions' %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'followed' %}active{% endif %}"
               href="{% url 'followed' %}">{% trans 'Followed' %}</a>
        </li>
    </ul>

    <!-- Contenido de la tab activa -->
    <div class="tab-content-area">
        {% block parts_content %}{% endblock %}
    </div>

{% endblock %}