API_KEY_8080= secret8080
API_KEY_8081= secret8081
API_KEY_8082= secret8082
DATABASE_URL=postgres://mi_usuario:mi_password_seguro@db:5432/joinproject_db
DJANGO_DEBUG = False/True
THEMOVIEDB_API_KEY= apikey
