{% extends 'users/base_profile.html' %}
{% load static %}
{% load i18n %}

{% block content_user_setings %}
    <div class="row">

        <div class="col-md-2">
            <div class="row row-description">
                <p>Whrite a few description of you</p>
            </div>
            <div class="row row-stats">
                <p>Miembro desde: {{ user.date_joined|date:"d/m/Y" }}</p>
                <p>Último acceso: {{ user.last_login|date:"d/m/Y" }}</p>
            </div>
            <div class="row row-location">
                <p>This show the location</p>
            </div>

        </div>

        <div class="col-md-10">
            {% block user_content %}
            {% endblock %}
        </div>
    </div>
        
{% endblock %}